<body>
<nav class="navbar navbar-top">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div>
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="{{ site.baseurl }}/contact/"><i class="fa fa-comments"></i> Contact</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-archive"></i> Posts</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Search</a></li>
      </ul>
    </div>
  </div>
</nav>
